body {
    background-image: linear-gradient(to right, rgb(228, 228, 228), rgb(155, 155, 155));
    background-repeat: inherit;

}

.header {
    width: 1500px;
    border: 15px solid whitesmoke;
    padding: 50px;
    margin: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(83, 83, 83, 0.5));
    text-shadow: 0.1px 0.1px 0.2px black;
}

.TheTitle {
    display: inline-block;
    float: left;
    word-break: keep-all;
    font-size: xx-large;
}
.TheTitle h1:hover {
    transition: all 0.5s ease;
    color: aqua;
    padding-left: 20px;
}

.BigBox {
    float: right;
}

.MiniBox2 {
    padding-top: 20px;
}

.BigBox:hover {
    transition: all 0.5s ease;
    color: aqua;
    padding-left: 20px;
}

.NAV ul a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: aqua;
    padding-left: 30px;
    width: fit-content;
}

.NAV ul {
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    padding-left: 20px;
}

.NAV ul li {
    list-style: none;
    float: left;
    padding-left: 20px;
}

.NAV ul li a:hover {
    color: aliceblue;
    transition: all 0.5s ease;
    text-underline-position: below;
    text-decoration-line: underline yellow;
}

.NAV {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(83, 83, 83, 0.5));
    font-size: xx-large;
    height: 70px;
    display: block;
}

.logo {
    width: 100px;
    height: 100px;

}


.container {
    background-color: white;
    background-repeat: no-repeat;
    margin-top: 700px;
    box-sizing: content-box;
    flex-wrap: wrap;
    width: auto;
}


.NewsBoxes h2 {
    text-align: center;
    font-size: xx-large;
    padding-left: 140px;
}


.img {
    width: auto;
    height: auto;
    float: left;
}


.text-grid {
    /* float: left; */
    font-size: large;
    color: blue;
}

.text-grid-date {
    color: rgba(37, 37, 37);

}

.block-news {
    float: left;
    display: block;
}

.Stiri1 {
    float: left;
    padding-left: 250px;
    padding-right: 100px;
}

.Stiri2 {
    float: left;
    padding-left: 100px;
    padding-right: 100px;
}

.Stiri3 {
    float: left;
    padding-left: 100px;
    padding-right: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Poppins:ital,wght@1,700&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

footer {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.footer {
    background-color: rgb(0, 0, 90);
    width: 100%;
    margin-top: 900px;


}

.container1 {
    box-sizing: content-box;

    max-width: 1100px;
    margin: auto;
}

.footer ul {
    list-style: none;
}

.row {
    display: flex;
    flex: auto;
}

.footer-col {

    width: 25%;
    padding: 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(214, 214, 214, 0.933);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: aliceblue;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}

.footer-col ul li {}

.footer-col ul li a:hover {
    color: aqua;
    padding-left: 10px;
}


.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: blueviolet;
    margin: 0 10px 10px 10px;
    line-height: 40px;
    border-radius: 50%;
    color: aquamarine;
    transition: all 0.5s ease;

}

.footer-col .social-links a:hover {
    color: aquamarine;
    background-color: aliceblue;
}